.card-header{
    background-color: rgb(218, 218, 218);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-container{
    border: 1px;
    border-radius: 4px;
    background-color: rgb(218, 218, 218);
    width: 20%;
    float:left;
    text-align: center;
    margin: 10px;
}