.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .create-card-popup-footer{
    width: 100%;
    
  }
  .create-card-popup-footer-button{
    width: 40%;
    margin-right: 10px;
  }
  button[type="submit"]{
    float:left;
  }
  button[type="button"]{
    float:right;
    background: #ccc;
  }
  .create-card-form-row{
    display: inline-block;
  }
  .create-card-form-row > label {
    width: 30%;
    min-width: 30%;
    text-align: left;
    margin-right: 10px;
    display: inline-block;
  }
  .create-card-form-row > select {
    width: 57%;
    min-width: 57%;
  }
  .create-card-form-row > input {
    width: 50%;
  }